.button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  min-width: 100%;
}

.button:hover {
  background-color: var(--button-hover-color);
  border-radius: var(--radius);
}
